body { 
	background-color: black;
	color: white;
 }

#link {
	background-color: yellowgreen; text-align: center
}

#grupoa {
	background-color: green; width: 500px; font: 50px/1.5; font-family: Verdana;
}

#grupob {
	background-color: red; font: 20px/1.5 'PT Sans', serif

}

.destacado {
	border: 1px solid yellow; font-size: 40px; color: black;
}

h1 {
  font-size: 60px;
  text-align: center;
}



