body {
background-color: red;
}

header {
	background-color: orange;
	border:red;
	border-width: 1px;
	border-style: solid;
	padding: 20px;
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-content: baseline;
}

h1 {
	background-color: yellow;
}

nav {
	background-color: lightblue;
}

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
body {
background-color: yellow;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
body {
background-color: blue;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
body {
background-color: white;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
body {
background-color: lightblue;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
body {
background-color: black;
}
}

